.logo {
   background: -webkit-linear-gradient(#444f5fc7, #374356);
   /* background: -webkit-linear-gradient(#0973b9, #374356); */
   font-weight: 700;
   font-size: 30px;
   color: transparent;
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   letter-spacing: -1px;
}
.logo span {
   padding-left: 5px;
}
