.banner img {
    height: calc(100vh - 64px);
    object-fit: cover;
}

/* Adjustments For Mobile view  */
@media screen and (max-width: 768px) {
    .banner img {
        height: calc(60vh);
    }
    
    .carousel-caption {
        top: 40%;
    }
 }