.NavigationItems {
   margin: 0;
   padding: 0;
   list-style: none;
   height: 100%;
   display: flex;
   align-items: center;
   flex-direction: row;
}

.NavigationItem {
   box-sizing: border-box;
   display: flex;
   height: 100%;
   align-items: center;
}

.NavigationItem a {
   text-decoration: none;
   font-weight: bold;
   width: 100%;
   height: 100%;
   display: block;
   padding: 16px 13px;
   border-bottom: 4px solid transparent;
   box-sizing: border-box;
   /* color: #2d2d2d; */
   color: #374356;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.activeStyle {
   color: #007BFF;
   /* background-color: #0973b9; */
   text-decoration: none;
   background-color: #444f5f31;
   border-bottom: 4px solid #007BFF;
}

/* Adjustments For Mobile view  */
@media screen and (max-width: 768px) {
   .NavigationItems {
      flex-direction: column;
   }

   .NavigationItem {
      margin: 10px 0;
      width: 100%;
      display: block;
   }

   .NavigationItem a {
      padding: 5px 10px;
      border-bottom: 1px solid gray;
      /* color: #8f5c2c; */
   }

   .NavigationItem a:hover,
   .NavigationItem a:active,
   .NavigationItem a.activeStyle {
      color: #007bff;
      border-bottom: 1px solid #007BFF;
      background: none;
   }
}
